<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HARSHAL SRIVASTAVA || {%block page_title%} {% endblock %}</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <!-- NAV BAR STARTS HERE -->
    <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            {% load static %}
            <img src="{% static 'My_Logo.png' %}" alt="My image" width="10%" height="20%">
            <span class="ml-3 text-xl" style="font-style:solid; font-family:Georgia, 'Times New Roman', Times, serif;" >HARSHAL SRIVASTAVA</span>
          </a>
          <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center" style="font-family: Georgia, 'Times New Roman', Times, serif;";>
            <a href="/" class="mr-5 hover:text-gray-900">Home</a>
            <a href="/about" class="mr-5 hover:text-gray-900">About Me</a>
            <a href="/contact" class="mr-5 hover:text-gray-900">Contact</a>
          </nav>
        </div>
      </header>
      
    <!-- NAV BAR ENDS HERE-->

    {%block hero%}

    {% endblock %}
    
    {%block testimonials%}

    {% endblock %}

    {%block contact%}

    {% endblock %}
    
    {%block aboutme%}

    {% endblock %}

    {% block education%}

    {% endblock %}

    {%block gallery%}
    
    {% endblock %}

    <!-- FOOTER STARTS HERE -->
<footer class="text-gray-400 bg-gray-900 body-font">
  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">
      <span class="ml-3 text-xl" style="font-family: Georgia, 'Times New Roman', Times, serif;">HARSHAL SRIVASTAVA</span>
    </a>
    <p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4">© 2021 Harshal Srivastava.
      <a href="https://www.linkedin.com/in/harshal-srivastava-238182186/" class="text-gray-500 ml-1" target="_blank" rel="noopener noreferrer">@harshal-srivastava</a>
    </p>
    <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
      <a href="https://www.linkedin.com/in/harshal-srivastava-238182186/" class="ml-3 text-gray-400">
        <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
          <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
          <circle cx="4" cy="4" r="2" stroke="none"></circle>
        </svg>
      </a>
    </span>
  </div>
</footer>
    <!-- FOOTER ENDS HERE -->
</body>
</html>